body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: url("https://cdn.visualwilderness.com/wp-content/uploads/2019/12/Norway-Landscape-Photography-3.jpg"); /*linear-gradient(135deg, #74edb5 #acb6e5);*/
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}
.galss-card h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.galss-card p {
    font-size: 1.2rem;
    margin-bottom: 20px;

}
.glass-card button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3 ease-in-out;

}
.galss-card button:hover {
    background: rgba(255, 255, 255, 0.3);
}