* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    display: none;
}
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);